# HMDA Cleaner

The purpose of this program is to clean HMDA data further data needs.

This program is designed to be used for future data HMDA publications.

## Import HMDA Data, Packages, and Check Dataset.

In [27]:
#This code does not need to be changed.
#Imports packages to be used by program
import pandas as pd
import numpy as np

In [4]:
#This code does not need to be changed.
#Quality of Life settings
#This will allow all columns to be displayed when reviewing the data.
pd.options.display.max_columns = None

In [5]:
#Loads in Sample
HMDA_dataset_file_location = r'C:\Users\raywz\state_NC.csv.'

In [6]:
#Sets Sample as dataframe.
HMDA_dataset = pd.read_csv(HMDA_dataset_file_location)
HMDA_dataset.head()

C:\Users\raywz\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (22,23,24,26,27,28,29,30,31,32,33,38,43,44) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,activity_year,lei,derived_msa-md,state_code,county_code,census_tract,conforming_loan_limit,derived_loan_product_type,derived_dwelling_category,derived_ethnicity,derived_race,derived_sex,action_taken,purchaser_type,preapproval,loan_type,loan_purpose,lien_status,reverse_mortgage,open-end_line_of_credit,business_or_commercial_purpose,loan_amount,loan_to_value_ratio,interest_rate,rate_spread,hoepa_status,total_loan_costs,total_points_and_fees,origination_charges,discount_points,lender_credits,loan_term,prepayment_penalty_term,intro_rate_period,negative_amortization,interest_only_payment,balloon_payment,other_nonamortizing_features,property_value,construction_method,occupancy_type,manufactured_home_secured_property_type,manufactured_home_land_property_interest,total_units,multifamily_affordable_units,income,debt_to_income_ratio,applicant_credit_score_type,co-applicant_credit_score_type,applicant_ethnicity-1,applicant_ethnicity-2,applicant_ethnicity-3,applicant_ethnicity-4,applicant_ethnicity-5,co-applicant_ethnicity-1,co-applicant_ethnicity-2,co-applicant_ethnicity-3,co-applicant_ethnicity-4,co-applicant_ethnicity-5,applicant_ethnicity_observed,co-applicant_ethnicity_observed,applicant_race-1,applicant_race-2,applicant_race-3,applicant_race-4,applicant_race-5,co-applicant_race-1,co-applicant_race-2,co-applicant_race-3,co-applicant_race-4,co-applicant_race-5,applicant_race_observed,co-applicant_race_observed,applicant_sex,co-applicant_sex,applicant_sex_observed,co-applicant_sex_observed,applicant_age,co-applicant_age,applicant_age_above_62,co-applicant_age_above_62,submission_of_application,initially_payable_to_institution,aus-1,aus-2,aus-3,aus-4,aus-5,denial_reason-1,denial_reason-2,denial_reason-3,denial_reason-4,tract_population,tract_minority_population_percent,ffiec_msa_md_median_family_income,tract_to_msa_income_percentage,tract_owner_occupied_units,tract_one_to_four_family_homes,tract_median_age_of_housing_units
0,2020,3XATK28RYORGPDF31217,16740,NC,37119.0,3.711901e+10,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Ethnicity Not Available,Race Not Available,Sex Not Available,1,0,2,1,1,1,2,2,1,215000.0,65.978,3.43,NaN,3,NaN,NaN,NaN,NaN,NaN,60.0,NaN,NaN,2,2,1,2,325000.0,1,3,3,5,1,NaN,NaN,NaN,9,10,4.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,3,4,7.0,NaN,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,3,4,4,5,3,4,8888,9999,NaN,NaN,1,1,6,NaN,NaN,NaN,NaN,10,NaN,NaN,NaN,4012,16.77,74200,119,1480,1695,33
1,2020,3XATK28RYORGPDF31217,99999,NC,37011.0,3.701193e+10,C,Conventional:Subordinate Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,White,Male,1,0,2,1,1,2,2,1,2,205000.0,37.5,3.25,-0.89,3,NaN,NaN,NaN,NaN,NaN,180.0,NaN,1.0,2,1,1,2,1105000.0,1,2,3,5,1,NaN,806.0,20%-<30%,3,10,2.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,2,4,5.0,NaN,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,2,4,1,5,2,4,65-74,9999,Yes,NaN,1,1,6,NaN,NaN,NaN,NaN,10,NaN,NaN,NaN,2899,9.42,53700,100,1042,4605,29
2,2020,3XATK28RYORGPDF31217,16740,NC,37119.0,3.711901e+10,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,White,Joint,3,0,2,1,1,1,2,2,2,325000.0,95.0,NaN,NaN,3,NaN,NaN,NaN,NaN,NaN,360.0,NaN,NaN,2,2,2,2,345000.0,1,1,3,5,1,NaN,244.0,20%-<30%,9,2,2.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,2,2,5.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,2,2,1,2,2,2,25-34,25-34,No,No,1,1,6,NaN,NaN,NaN,NaN,7,NaN,NaN,NaN,1490,20.40,74200,197,587,687,26
3,2020,3XATK28RYORGPDF31217,99999,NC,37099.0,3.709995e+10,NC,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,White,Joint,1,0,2,1,31,1,2,2,2,925000.0,72.1,3.75,0.468,2,14754.25,NaN,10570.0,NaN,NaN,360.0,NaN,NaN,2,2,2,2,1285000.0,1,1,3,5,1,NaN,222.0,39,3,9,2.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,2,2,5.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,2,2,1,2,2,2,>74,65-74,Yes,Yes,1,1,6,NaN,NaN,NaN,NaN,10,NaN,NaN,NaN,2752,5.92,53700,151,1019,4040,23
4,2020,3XATK28RYORGPDF31217,16740,NC,37179.0,3.717902e+10,NC,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,White,Joint,1,0,2,1,1,1,2,2,2,1095000.0,99.98,4.0,0.799,2,15454.27,NaN,12221.08,NaN,NaN,360.0,NaN,NaN,2,2,2,2,1095000.0,1,1,3,5,1,NaN,890.0,20%-<30%,9,2,2.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,2,2,5.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,2,2,1,2,2,2,35-44,35-44,No,No,1,1,6,NaN,NaN,NaN,NaN,10,NaN,NaN,NaN,7493,9.76,74200,221,2525,2695,22

In [30]:
'''
This code does not need to be changed unless column headers change.(Ex.'state_code' changes to 'state')
Program to call for future HDMA data.
Sample size is an optional argument if one wants to take a sample of the dataset enter the size of the desired sample.
Don't enter anything if full dataset is desired.
'''
def HMDA_cleaner(HMDA_dataset_file_location, Name_of_Output_CSV, sample_size = 0):
    #load in dataset.
    HMDA_dataset = pd.read_csv(HMDA_dataset_file_location)
    
    '''
    Optional Sample Size Argument
    '''
    if sample_size != 0:
        df = HMDA_dataset.sample(n = sample_size)
    else:
        df = HMDA_dataset
    
    '''
    Clean Race data.
    '''
    #Groups racial categories and adds names.
    #The '0_' in the '0_White' indicates that it will be the ommited variable in a regression.
    df1 = df.replace(to_replace = {'applicant_race-1' : {
                                    (5):'0_White',
                                    (2,21,22,23,24,25,26,27):'Asian',
                                    (3):'Black',
                                    (1, 4,41,42,43,44):'Other',
                                    (6,7, np.nan):'Not Reported'}})
    #Remove 'Not Reported' rows.
    df2 = df1[df1['applicant_race-1'] != 'Not Reported']
    #Clean Ethnicity Data.
    df3 = df2.replace(to_replace = {'applicant_ethnicity-1' : {
                                (1,11,14,12,13):1,
                                  (2):0,
                                 (3,4,np.nan):'Not Reported',}})
    #Remove 'Not Reported' rows.
    df4 = df3[df3['applicant_ethnicity-1'] != 'Not Reported']
    
    #Create Race Column.
    race = []
    for row in df4.index:
        if df4['applicant_ethnicity-1'][row] == 1:
            race.append('Latinx')
        else:
            race.append(df4['applicant_race-1'][row])
    df4_copy = df4.copy()
    df4_copy['Race'] = race
    
    '''
    Clean Income 
    '''
    #Remove rows that had no income reported or an income less than 0.
    def income_reported_to_categorical(table, column):
        values = table[column].values
        new_table = table.copy()
        ir_array =  []
        for i in values:
            if i == np.nan:
                ir_array.append('No Report')
            elif i <= 0:
                ir_array.append('Zero or Negative')
            elif i > 0:
                ir_array.append('Reported')
            else:
                ir_array.append('No Report')
        new_table['Income Reported'] = ir_array
        return new_table
    #This removes all non reported and 0 or negative rows.
    df6 = income_reported_to_categorical(df4_copy,'income')
    df7 = df6[df6["Income Reported"].str.contains("Reported") == True]
    #Creates log Income column.
    df7_2 = df7.copy()
    df7_2['Log Income'] = np.log(df7['income'])
    
    '''
    Create approval and denial indicator column.
    This also removes withdrawn applications and other instances that aren't under the Approval or Denial categories.
    Preapproval request indicators could also be used as an indicator variable if need be.
    '''
    def action_taken_to_approval_indicator(table, column):
        values = table[column].values
        ir_array =  []
        for i in values:
            if i == 1:
                ir_array.append('Approved')
            elif i == 2:
                ir_array.append('Approved')
            elif i == 3:
                ir_array.append('Denied')
            else:
                ir_array.append('other')
        table2 = table.copy()
        table2['Approval Indicator'] = ir_array
        table3 = table2[table2["Approval Indicator"].str.contains("other") == False]
        table4 = pd.get_dummies(table3, columns = ['Approval Indicator'])
        return table4
    df8 = action_taken_to_approval_indicator(df7_2, 'action_taken')
   
    '''
    Clean applicant sex
    '''
    df9 = df8.replace(to_replace = {'applicant_sex' : {(1):'0_Male',(2):'Female',
                                                      (3,4,6):'Not Applicable'}})
    df10 = df9[df9['applicant_sex'] != 'Not Applicable']
    #df10 = pd.get_dummies(df9, columns = ['applicant_sex'])
    
    '''
    Clean Loan to Value Ratios
    '''
    #This removes all non-numeric rows.
    df11 = df10[pd.to_numeric(df10['loan_to_value_ratio'], errors = 'coerce').notnull()]
    
    '''
    Clean Debt to Income    
    '''
    #Creates a second DTI column and changes name for OLS.
    df11_01 = df11.copy()
    df11_01['DTI_Ratio'] = df11_01['debt_to_income_ratio']
    df11_02 = df11_01.replace(to_replace = {'DTI_Ratio': {'<20%':'0%-20%'}})
    #Drops no answer rows.
    df12 = df11_02.dropna(subset=['debt_to_income_ratio'])
    #Drops exempt rows.
    df13 = df12[df12["debt_to_income_ratio"].str.contains("Exempt") == False]
    #Rename Column
    df13_5 = df13.rename(columns = {'debt_to_income_ratio': 'DTI'})
    df13_4 =  pd.get_dummies(df13_5, columns = ['DTI'])
   
    
    '''
    Clean Loan Amount and create log(Loan Amount)
    '''
    #This drops all N/A rows.
    df14 = df13_4.dropna(subset=['loan_amount'])
    #This removes all non-numeric rows.
    df15 = df14[pd.to_numeric(df14['loan_amount'], errors = 'coerce').notnull()]
    #This removes all rows with a value less than or equal to 0.
    df16 = df15[~(df15['loan_amount'] <= 0)]
    #Creates log(Loan Amount)
    df16['Log Loan Amount'] = np.log(df16['loan_amount'])
    
    '''
    Clean Loan Type
    '''
    df17 = df16.replace(to_replace = {'loan_type' : {(1):'Conventional',
                                                    (2): 'FHA',(3): 'VA',
                                                    #USDA Rural Housing Service or Farm Service Agency.
                                                    (4): 'RHS or FSA'}})
    df18 = df17.rename(columns = {'loan_type': 'Loan_Type'})
    
    '''
    Filter Loan Purpose
    '''
    #This study is only interested in Home Purchase loans.
    #It is leaving out home improvement, refinancing, Cash-out refinanciing, Not applicable, and other purposes.
    df20 = df18[df18["loan_purpose"] == 1]
     
    '''
    Compile final Data Frame
    '''
    #Rename columns
    dfrename = df20.rename(columns = {'Approval Indicator_Approved' : 'Approved',
                                       'Approval Indicator_Denied' : 'Denied',
                                        'income': 'Income',
                                        'applicant_ethnicity-1': 'Ethnicity',
                                        'applicant_sex': 'Sex',
                                        'loan_to_value_ratio': 'LTV',
                                        'loan_amount': 'Loan_Amount',
                                        'denial_reason-1': 'Denial Reason',
                                        'state_code' : 'State',
                                        'county_code':'County_Code',
                                        'census_tract': 'Census_Tract',
                                        'activity_year': 'Year',
                                        'lei': 'Lender_LEI',
                                        'Log Income':'Log_Income',
                                        'Log Loan Amount': 'Log_Loan_Amount',
                                        'occupancy_type':'Occupancy_Type'})
    #Pull columns
    Final_df = dfrename[['Year','Lender_LEI','State','County_Code','Census_Tract','Approved','Denied', 
                         'Race','Sex','Income','Log_Income', 
                         'Loan_Amount','Log_Loan_Amount','LTV','Loan_Type','DTI_Ratio','preapproval','Occupancy_Type']]
    #Add index column.
    Final_df2 = Final_df1.copy()
    Final_df2['Index'] = Final_df2.index
    
    '''
    Save the Dataframe to a csv
    '''
    Final_df2.to_csv(Name_of_Output_CSV, index=False)
    
    '''
    Outputs
    '''
    print('Data written to CSV sucessfully.')
    print(Final_df2.shape[0],'Rows,',Final_df2.shape[1],'Columns.')
    #return Final_df.head()
    return Final_df2.head()

In [31]:
#Run HMDA_cleaner.
#Enter file location in the HMDA_cleaner(r'file_location') format.
HMDA_cleaner(r'C:\Users\raywz\state_IL_2019_Raw.csv', '2019 HMDA Clean IL SAMPLE.csv', 100000)

C:\Users\raywz\AppData\Local\Temp/ipykernel_9892/4158148629.py:3: DtypeWarning: Columns (22,23,24,26,27,28,29,30,31,32,33,38,43,44) have mixed types.Specify dtype option on import or set low_memory=False.
  HMDA_cleaner(r'C:\Users\raywz\state_IL_2019_Raw.csv', '2019 HMDA Clean IL SAMPLE.csv', 100000)

NameError: name 'Final_df1' is not defined

### The CSV is now ready to be used for further descriptive statistics and the LPM.