# HMDA Cleaner

The purpose of this program is to clean HMDA data further data needs.

This program is designed to be used for future data HMDA publications.

## Import HMDA Data, Packages, and Check Dataset.

In [3]:
#This code does not need to be changed.
#Imports packages to be used by program
import pandas as pd
import numpy as np

In [4]:
#This code does not need to be changed.
#Quality of Life settings
#This will allow all columns to be displayed when reviewing the data.
pd.options.display.max_columns = None

In [5]:
#Loads in Sample
HMDA_dataset_file_location = r'2019_HMDA_sample.csv'

In [6]:
#This code does not need to be changed.
HMDA_dataset = pd.read_csv(HMDA_dataset_file_location)
HMDA_dataset

,activity_year,lei,derived_msa-md,state_code,county_code,census_tract,conforming_loan_limit,derived_loan_product_type,derived_dwelling_category,derived_ethnicity,derived_race,derived_sex,action_taken,purchaser_type,preapproval,loan_type,loan_purpose,lien_status,reverse_mortgage,open-end_line_of_credit,business_or_commercial_purpose,loan_amount,loan_to_value_ratio,interest_rate,rate_spread,hoepa_status,total_loan_costs,total_points_and_fees,origination_charges,discount_points,lender_credits,loan_term,prepayment_penalty_term,intro_rate_period,negative_amortization,interest_only_payment,balloon_payment,other_nonamortizing_features,property_value,construction_method,occupancy_type,manufactured_home_secured_property_type,manufactured_home_land_property_interest,total_units,multifamily_affordable_units,income,debt_to_income_ratio,applicant_credit_score_type,co-applicant_credit_score_type,applicant_ethnicity-1,applicant_ethnicity-2,applicant_ethnicity-3,applicant_ethnicity-4,applicant_ethnicity-5,co-applicant_ethnicity-1,co-applicant_ethnicity-2,co-applicant_ethnicity-3,co-applicant_ethnicity-4,co-applicant_ethnicity-5,applicant_ethnicity_observed,co-applicant_ethnicity_observed,applicant_race-1,applicant_race-2,applicant_race-3,applicant_race-4,applicant_race-5,co-applicant_race-1,co-applicant_race-2,co-applicant_race-3,co-applicant_race-4,co-applicant_race-5,applicant_race_observed,co-applicant_race_observed,applicant_sex,co-applicant_sex,applicant_sex_observed,co-applicant_sex_observed,applicant_age,co-applicant_age,applicant_age_above_62,co-applicant_age_above_62,submission_of_application,initially_payable_to_institution,aus-1,aus-2,aus-3,aus-4,aus-5,denial_reason-1,denial_reason-2,denial_reason-3,denial_reason-4,tract_population,tract_minority_population_percent,ffiec_msa_md_median_family_income,tract_to_msa_income_percentage,tract_owner_occupied_units,tract_one_to_four_family_homes,tract_median_age_of_housing_units
0,2019,5493000YNV8IX4VD3X12,99999,KY,21187.0,2.118797e+10,C,Conventional:First Lien,Single Family (1-4 Units):Manufactured,Not Hispanic or Latino,White,Female,5,0,2,1,1,1,2,2,2,95000.0,NaN,NaN,NaN,3,NaN,NaN,NaN,NaN,NaN,276,NaN,NaN,2,2,2,2,NaN,2,1,1,1,1,NaN,32.0,NaN,9,9,2.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,2,2,5.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,2,2,2,2,2,2,25-34,45-54,No,No,1,1,6,NaN,NaN,NaN,NaN,10,NaN,NaN,NaN,3297,5.58,49800,135,1007,1471,31
1,2019,549300O6Z0I6KYMESL47,16984,IL,17031.0,1.703181e+10,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Hispanic or Latino,White,Joint,4,0,2,1,1,1,2,2,1,215000.0,NaN,NaN,NaN,3,NaN,NaN,NaN,NaN,NaN,360.0,NaN,NaN,2,1,2,2,NaN,1,3,3,5,1,NaN,0.0,NaN,9,9,1.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,2,2,5.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,2,2,1,2,2,2,55-64,>74,No,Yes,2,1,6,NaN,NaN,NaN,NaN,10,NaN,NaN,NaN,4279,39.10,82000,112,1331,1484,57
2,2019,549300XRXBA38J60S618,99999,ID,16039.0,1.603996e+10,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,White,Male,1,0,2,1,1,1,2,2,2,345000.0,90.0,4.375,0.462,2,4633.0,NaN,1595.0,NaN,NaN,360,NaN,NaN,2,2,2,2,385000,1,1,3,5,1,NaN,0.0,44,3,10,2.0,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,2,2,5.0,NaN,NaN,NaN,NaN,6.0,NaN,NaN,NaN,NaN,2,2,1,1,2,2,55-64,65-74,Yes,Yes,1,1,1,NaN,NaN,NaN,NaN,10,NaN,NaN,NaN,2570,22.49,57100,89,854,1916,39
3,2019,549300NBFJM2PBH24L77,48620,KS,20173.0,2.017301e+10,C,Conventional:First Lien,Single Family (1-4 Units):Manufactured,Not Hispanic or Latino,White,Male,1,0,2,1,31,1,1111,1111,1111,15000.0,Exempt,Exempt,Exempt,3,Exempt,Exempt,Exempt,Exempt,Exempt,Exempt,Exempt,Exempt,1111,1111,1111,1111,Exempt,2,3,1111,1111,1,Exempt,85.0,Exempt,1111,1111,2.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,1,4,5.0,NaN,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,1,4,1,5,1,4,25-34,9999,No,NaN,1111,1111,1111,NaN,NaN,NaN,NaN,1111,NaN,NaN,NaN,5346,20.50,69500,126,1667,1904,24
4,2019,C5654JQHZUHN0772B561,47894,VA,51683.0,5.168391e+10,C,VA:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,White,Male,1,2,2,3,1,1,2,2,2,395000.0,100.0,3.5,-0.1828,2,11566.57,NaN,497.98,497.98,NaN,360,NaN,NaN,2,2,2,2,395000.0,1,1,3,5,1,NaN,115.0,30%-<36%,1,10,2.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,2,4,5.0,NaN,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,2,4,1,5,2,4,25-34,9999,No,NaN,1,1,1,NaN,NaN,NaN,NaN,10,NaN,NaN,NaN,5854,51.81,114700,76,1025,1355,29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2019,254900FL0I8OUMMBOZ11,38060,AZ,4013.0,4.013072e+09,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Ethnicity Not Available,Native Hawaiian or Other Pacific Islander,Male,1,0,2,1,31,1,2,2,1,125000.0,85.0,11.0,NaN,3,NaN,NaN,NaN,NaN,NaN,11.0,NaN,NaN,2,1,1,2,145000.0,1,3,3,5,1,NaN,NaN,NaN,9,10,3.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,2,4,5.0,44.0,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,2,4,1,5,2,4,8888,9999,NaN,NaN,1,1,6,NaN,NaN,NaN,NaN,10,NaN,NaN,NaN,3031,8.02,72900,65,1701,2620,49
96,2019,549300NOCASXPA34X033,15180,TX,48061.0,4.806101e+10,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Ethnicity Not Available,White,Male,3,0,2,1,32,1,2,2,2,115000.0,80.0,NaN,NaN,3,NaN,NaN,NaN,NaN,NaN,360.0,NaN,NaN,2,2,2,2,145000.0,1,1,3,5,1,NaN,NaN,NaN,9,10,3.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,2,4,5.0,NaN,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,2,4,1,5,2,4,55-64,9999,Yes,NaN,1,2,6,NaN,NaN,NaN,NaN,7,NaN,NaN,NaN,7046,90.41,44000,123,1686,2246,32
97,2019,B4TYDEB6GKMZO031MB27,22744,FL,12011.0,1.201104e+10,C,Conventional:Subordinate Lien,Single Family (1-4 Units):Site-Built,Ethnicity Not Available,Race Not Available,Male,4,0,2,1,2,2,2,1,2,105000.0,NaN,NaN,NaN,3,NaN,NaN,NaN,NaN,NaN,360,36,1,2,2,2,2,NaN,1,1,3,5,1,NaN,160.0,NaN,9,9,3.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,2,4,6.0,NaN,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,2,4,1,5,2,4,35-44,9999,No,NaN,1,1,6,NaN,NaN,NaN,NaN,10,NaN,NaN,NaN,4961,25.06,68600,173,1389,1705,49
98,2019,549300CY7WNAHKHYSJ73,99999,WA,53037.0,5.303798e+10,NC,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,White,Joint,1,0,2,1,1,1,2,2,2,615000.0,77.22,3.875,0.437,2,25867.65,NaN,21239.25,13126.89,NaN,369,NaN,NaN,2,1,2,2,805000.0,1,1,3,5,1,NaN,151.0,20%-<30%,2,9,2.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,2,2,5.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,2,2,2,1,2,2,25-34,25-34,No,No,1,1,1,NaN,NaN,NaN,NaN,10,NaN,NaN,NaN,4562,5.09,63500,110,1412,2038,20
99,2019,549300YOESI1GLKRL151,16740,SC,45091.0,4.509106e+10,C,FHA:First Lien,Single Family (1-4 Units):Site-Built,Ethnicity Not Available,Race Not Available,Sex Not Available,6,9,2,2,1,1,2,2,2,145000.0,NaN,5.125,NaN,2,6523.85,NaN,2050.0,1115.0,21.6,360,NaN,NaN,2,2,2,2,205000.0,1,1,3,5,1,NaN,NaN,NaN,9,9,4.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,3,4,7.0,NaN,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,3,4,4,5,3,4,8888,9999,NaN,NaN,3,3,6,NaN,NaN,NaN,NaN,10,NaN,NaN,NaN,5616,42.50,70700,76,1082,1860,39

In [7]:
HMDA_dataset.columns

Index(['activity_year', 'lei', 'derived_msa-md', 'state_code', 'county_code',
       'census_tract', 'conforming_loan_limit', 'derived_loan_product_type',
       'derived_dwelling_category', 'derived_ethnicity', 'derived_race',
       'derived_sex', 'action_taken', 'purchaser_type', 'preapproval',
       'loan_type', 'loan_purpose', 'lien_status', 'reverse_mortgage',
       'open-end_line_of_credit', 'business_or_commercial_purpose',
       'loan_amount', 'loan_to_value_ratio', 'interest_rate', 'rate_spread',
       'hoepa_status', 'total_loan_costs', 'total_points_and_fees',
       'origination_charges', 'discount_points', 'lender_credits', 'loan_term',
       'prepayment_penalty_term', 'intro_rate_period', 'negative_amortization',
       'interest_only_payment', 'balloon_payment',
       'other_nonamortizing_features', 'property_value', 'construction_method',
       'occupancy_type', 'manufactured_home_secured_property_type',
       'manufactured_home_land_property_interest', 'total_units',
       'multifamily_affordable_units', 'income', 'debt_to_income_ratio',
       'applicant_credit_score_type', 'co-applicant_credit_score_type',
       'applicant_ethnicity-1', 'applicant_ethnicity-2',
       'applicant_ethnicity-3', 'applicant_ethnicity-4',
       'applicant_ethnicity-5', 'co-applicant_ethnicity-1',
       'co-applicant_ethnicity-2', 'co-applicant_ethnicity-3',
       'co-applicant_ethnicity-4', 'co-applicant_ethnicity-5',
       'applicant_ethnicity_observed', 'co-applicant_ethnicity_observed',
       'applicant_race-1', 'applicant_race-2', 'applicant_race-3',
       'applicant_race-4', 'applicant_race-5', 'co-applicant_race-1',
       'co-applicant_race-2', 'co-applicant_race-3', 'co-applicant_race-4',
       'co-applicant_race-5', 'applicant_race_observed',
       'co-applicant_race_observed', 'applicant_sex', 'co-applicant_sex',
       'applicant_sex_observed', 'co-applicant_sex_observed', 'applicant_age',
       'co-applicant_age', 'applicant_age_above_62',
       'co-applicant_age_above_62', 'submission_of_application',
       'initially_payable_to_institution', 'aus-1', 'aus-2', 'aus-3', 'aus-4',
       'aus-5', 'denial_reason-1', 'denial_reason-2', 'denial_reason-3',
       'denial_reason-4', 'tract_population',
       'tract_minority_population_percent',
       'ffiec_msa_md_median_family_income', 'tract_to_msa_income_percentage',
       'tract_owner_occupied_units', 'tract_one_to_four_family_homes',
       'tract_median_age_of_housing_units'],
      dtype='object')

In [44]:
'''
This code does not need to be changed unless column headers change.(Ex. 'state_code' changes to 'state')
Program to call for future HDMA data.
'''
def HMDA_cleaner(HMDA_dataset_file_location):
    #load in dataset.
    HMDA_dataset = pd.read_csv(HMDA_dataset_file_location)
    
    '''
    Clean Race data.
    '''
    #Groups racial categories and adds names.
    df1 = HMDA_dataset.replace(to_replace = {'applicant_race-1' : {
                                (2,21,22,23,24,25,26,27):'Asian',
                                  (3):'Black',
                                 (5):'White',
                                 (1, 4,41,42,43,44):'Other',
                                 (6,7, np.nan):'Not Reported'}})
    #Remove 'Not Reported' rows.
    df2 = df1[df1['applicant_race-1'] != 'Not Reported']
    #Clean Ethnicity Data.
    df3 = df2.replace(to_replace = {'applicant_ethnicity-1' : {
                                (1,11,14,12,13):'Hispanic',
                                  (2):'Not Hispanic',
                                 (3,4,np.nan):'Not Reported',}})
    #Remove 'Not Reported' rows.
    df4 = df3[df3['applicant_ethnicity-1'] != 'Not Reported']
    #Get dummy variables for applicant race and ethnicity.
    df5 = pd.get_dummies(df4, columns = ['applicant_race-1', 'applicant_ethnicity-1'])
    
    '''
    Clean Income 
    '''
    #Remove rows that had no income reported or an income less than 0.
    def income_reported_to_categorical(table, column):
        values = table[column].values
        ir_array =  []
        for i in values:
            if i == np.nan:
                ir_array.append('No Report')
            elif i <= 0:
                ir_array.append('Zero or Negative')
            elif i > 0:
                ir_array.append('Reported')
            else:
                ir_array.append('No Report')
        table['Income Reported'] = ir_array     
        return table
    #This removes all non reported and 0 or negative rows.
    df6 = income_reported_to_categorical(df5,'income')
    df7 = df6[df6["Income Reported"].str.contains("Reported") == True]
    #Creates log Income column.
    df7_2 = df7.copy()
    df7_2['Log Income'] = np.log(df7['income'])
    
    '''
    Create approval and denial indicator column.
    This also removes withdrawn applications and other instances that aren't under the Approval or Denial categories.
    Preapproval request indicators could also be used as an indicator variable if need be.
    '''
    def action_taken_to_approval_indicator(table, column):
        values = table[column].values
        ir_array =  []
        for i in values:
            if i == 1:
                ir_array.append('Approved')
            elif i == 2:
                ir_array.append('Approved')
            elif i == 3:
                ir_array.append('Denied')
            else:
                ir_array.append('other')
        table2 = table.copy()
        table2['Approval Indicator'] = ir_array
        table3 = table2[table2["Approval Indicator"].str.contains("other") == False]
        table4 = pd.get_dummies(table3, columns = ['Approval Indicator'])
        return table4
    df8 = action_taken_to_approval_indicator(df7_2, 'action_taken')
   
    '''
    Clean applicant gender
    '''
    df9 = df8.replace(to_replace = {'applicant_sex' : {(1):'Male',(2):'Female'}})
    df10 = pd.get_dummies(df9, columns = ['applicant_sex'])
    
    '''
    Clean Loan to Value Ratios
    '''
    #This removes all non-numeric rows.
    df11 = df10[pd.to_numeric(df10['loan_to_value_ratio'], errors = 'coerce').notnull()]
    
    '''
    Clean Debt to Income    
    '''
    #Drops no answer rows.
    df12 = df11.dropna(subset=['debt_to_income_ratio'])
    #Drops exempt rows.
    df13 = df12[df12["debt_to_income_ratio"].str.contains("Exempt") == False]
    
    '''
    Clean Loan Amount and create log(Loan Amount)
    '''
    #This drops all N/A rows.
    df14 = df13.dropna(subset=['loan_amount'])
    #This removes all non-numeric rows.
    df15 = df14[pd.to_numeric(df14['loan_amount'], errors = 'coerce').notnull()]
    #This removes all rows with a value less than or equal to 0.
    df16 = df15[~(df15['loan_amount'] <= 0)]
    #Creates log(Loan Amount)
    df16['Log Loan Amount'] = np.log(df16['loan_amount'])
    
    
    
    '''
    Compile final Data Frame
    '''
    #Rename columns
    dfrename = df16.rename(columns = {'Approval Indicator_Approved' : 'Approved',
                                       'Approval Indicator_Denied' : 'Denied',
                                        'income': 'Income',
                                        'applicant_race-1_Asian': 'Asian',
                                        'applicant_race-1_Black': 'Black',
                                        'applicant_race-1_Other': 'Other',
                                        'applicant_race-1_White': 'White',
                                        'applicant_ethnicity-1_Hispanic': 'Hispanic',
                                        'applicant_ethnicity-1_Not Hispanic': 'Not Hispanic',
                                        'applicant_sex_Female': 'Female',
                                        'applicant_sex_Male': 'Male',
                                        'loan_to_value_ratio': 'LTV',
                                        'debt_to_income_ratio': 'DTI',
                                        'loan_amount': 'Loan Amount'
                                      })
    #Pull columns
    Final_df = dfrename[['state_code','census_tract', 'Approved', 'Denied', 
                         'White', 'Black', 'Asian', 'Other', 'Hispanic', 'Not Hispanic', 
                         'Male', 'Female','Income', 'Log Income', 'LTV', 'DTI',
                         'Loan Amount', 'Log Loan Amount']]
    
    return Final_df

In [45]:
#Run HMDA_cleaner.
#Enter file location in the HMDA_cleaner(r'file_location') format.
HMDA_cleaner(r'2019_HMDA_sample.csv')

,state_code,census_tract,Approved,Denied,White,Black,Asian,Other,Hispanic,Not Hispanic,Male,Female,Income,Log Income,LTV,DTI,Loan Amount,Log Loan Amount
4,VA,5.168391e+10,1,0,1,0,0,0,0,1,1,0,115.0,4.744932,100.0,30%-<36%,395000.0,12.886641
7,NM,3.504100e+10,1,0,1,0,0,0,0,1,1,0,82.0,4.406719,63.603,20%-<30%,175000.0,12.072541
8,WI,5.513320e+10,1,0,1,0,0,0,0,1,0,1,71.0,4.262680,95.79,20%-<30%,225000.0,12.323856
9,FL,1.210103e+10,0,1,0,1,0,0,0,1,0,1,42.0,3.737670,80.0,50%-60%,185000.0,12.128111
10,TX,4.815767e+10,0,1,0,1,0,0,0,1,0,1,203.0,5.313206,90.0,42,85000.0,11.350407
12,TX,4.812102e+10,1,0,1,0,0,0,0,1,1,0,75.0,4.317488,100.0,40,295000.0,12.594731
13,FL,1.209502e+10,1,0,0,1,0,0,0,1,1,0,85.0,4.442651,103.29,39,245000.0,12.409013
14,OR,4.103336e+10,1,0,1,0,0,0,0,1,1,0,199.0,5.293305,69.193,20%-<30%,485000.0,13.091904
16,CA,6.059111e+09,0,1,0,0,1,0,0,1,0,1,55.0,4.007333,72.267,>60%,545000.0,13.208541
18,TX,4.803701e+10,1,0,1,0,0,0,0,1,1,0,73.0,4.290459,94.286,20%-<30%,135000.0,11.813030
20,MN,2.703995e+10,1,0,1,0,0,0,0,1,0,1,155.0,5.043425,82.388,20%-<30%,275000.0,12.524526
26,TX,4.802916e+10,1,0,1,0,0,0,1,0,1,0,57.0,4.043051,80.0,44,65000.0,11.082143
27,ND,3.810101e+10,1,0,1,0,0,0,0,1,0,1,63.0,4.143135,88.712,40,295000.0,12.594731
31,MD,2.403380e+10,0,1,0,0,1,0,0,1,1,0,79.0,4.369448,80.0,47,265000.0,12.487485
33,WI,5.507100e+10,1,0,1,0,0,0,0,1,0,1,106.0,4.663439,80.0,30%-<36%,275000.0,12.524526
34,GA,1.308902e+10,0,1,0,1,0,0,0,1,1,0,68.0,4.219508,89.713,>60%,45000.0,10.714418
36,NY,3.606302e+10,1,0,1,0,0,0,0,1,1,0,64.0,4.158883,71.0,44,85000.0,11.350407
37,AR,5.031000e+09,1,0,1,0,0,0,0,1,0,1,55.0,4.007333,80.0,<20%,95000.0,11.461632
38,TX,4.820156e+10,1,0,1,0,0,0,0,1,0,1,131.0,4.875197,90.0,45,375000.0,12.834681
40,GA,1.305101e+10,1,0,0,1,0,0,0,1,1,0,92.0,4.521789,100.0,41,265000.0,12.487485
41,CA,6.029004e+09,1,0,1,0,0,0,0,1,0,1,92.0,4.521789,56.88,46,245000.0,12.409013
44,CA,6.099003e+09,1,0,1,0,0,0,0,1,1,0,50.0,3.912023,96.5,43,175000.0,12.072541
45,WA,5.303301e+10,1,0,0,0,1,0,0,1,1,0,138.0,4.927254,69.0,46,665000.0,13.407542
48,ID,1.608797e+10,1,0,1,0,0,0,0,1,1,0,132.0,4.882802,80.0,20%-<30%,345000.0,12.751300
50,NY,3.608107e+10,1,0,1,0,0,0,0,1,1,0,344.0,5.840642,49.2308,20%-<30%,765000.0,13.547631
51,FL,1.211138e+10,1,0,1,0,0,0,0,1,1,0,89.0,4.488636,66.55,30%-<36%,195000.0,12.180755
53,HI,1.500102e+10,1,0,1,0,0,0,0,1,1,0,594.0,6.386879,75.0,36,1555000.0,14.256986
54,MT,3.009300e+10,1,0,0,0,0,1,0,1,1,0,52.0,3.951244,100.802,50%-60%,125000.0,11.736069
55,FL,1.201745e+10,0,1,1,0,0,0,0,1,1,0,44.0,3.784190,72.47,48,195000.0,12.180755
56,WA,5.303303e+10,0,1,1,0,0,0,0,1,1,0,50.0,3.912023,71.621,39,195000.0,12.180755
57,KS,2.009105e+10,0,1,0,0,1,0,0,1,0,1,44.0,3.784190,80.0,>60%,265000.0,12.487485
58,NJ,3.400570e+10,1,0,1,0,0,0,0,1,1,0,50.0,3.912023,98.188,50%-60%,185000.0,12.128111
59,MO,2.916947e+10,1,0,1,0,0,0,0,1,0,1,142.0,4.955827,83.33,<20%,125000.0,11.736069
60,KY,2.106592e+10,1,0,1,0,0,0,0,1,1,0,29.0,3.367296,92.31,20%-<30%,65000.0,11.082143
61,CA,6.001445e+09,1,0,0,0,1,0,0,1,1,0,190.0,5.247024,84.316,36,805000.0,13.598598
63,PA,4.212980e+10,1,0,1,0,0,0,0,1,1,0,360.0,5.886104,89.892,20%-<30%,65000.0,11.082143
65,TX,4.815767e+10,1,0,0,0,1,0,0,1,1,0,140.0,4.941642,73.43,42,75000.0,11.225243
67,AZ,4.013051e+09,1,0,1,0,0,0,0,1,1,0,83.0,4.418841,95.0,47,335000.0,12.721886
69,OH,3.902300e+10,0,1,1,0,0,0,1,0,1,0,95.0,4.553877,133.35,38,125000.0,11.736069
71,TX,4.802918e+10,0,1,0,1,0,0,1,0,1,0,185.0,5.220356,97.0,>60%,165000.0,12.013701
74,TX,4.812102e+10,1,0,1,0,0,0,1,0,1,0,109.0,4.691348,100.0,38,335000.0,12.721886
75,CA,6.037208e+09,1,0,1,0,0,0,0,1,1,0,142.0,4.955827,74.6,45,555000.0,13.226723
77,FL,1.207100e+10,1,0,1,0,0,0,0,1,0,1,81.0,4.394449,70.0,43,165000.0,12.013701
78,OH,3.915171e+10,1,0,1,0,0,0,0,1,1,0,116.0,4.753590,99.63,50%-60%,75000.0,11.225243
79,WA,5.305307e+10,1,0,1,0,0,0,0,1,0,1,49.0,3.891820,48.914,50%-60%,85000.0,11.350407
82,CA,6.037480e+09,1,0,1,0,0,0,0,1,1,0,320.0,5.768321,43.02,<20%,105000.0,11.561716
84,FL,1.207101e+10,1,0,1,0,0,0,0,1,1,0,45.0,3.806662,100.0,41,235000.0,12.367341
85,PA,4.212980e+10,1,0,1,0,0,0,0,1,1,0,496.0,6.206576,41.176,>60%,705000.0,13.465953
86,FL,1.203101e+10,1,0,1,0,0,0,0,1,1,0,79.0,4.369448,95.0,20%-<30%,125000.0,11.736069
87,WV,5.403797e+10,1,0,0,1,0,0,0,1,0,1,49.0,3.891820,100.0,43,175000.0,12.072541
89,AL,1.083021e+09,1,0,1,0,0,0,0,1,1,0,33.0,3.496508,95.0,40,135000.0,11.813030
91,WA,5.300501e+10,1,0,1,0,0,0,0,1,0,1,110.0,4.700480,77.82,20%-<30%,75000.0,11.225243
98,WA,5.303798e+10,1,0,1,0,0,0,0,1,0,1,151.0,5.017280,77.22,20%-<30%,615000.0,13.329378