# Linear Probability Model

The purpose of this program is to regress a mortgage application approval against other variables in the HMDA data.

$P(Approval = 1 | \lambda_j, \chi_j) = \beta_0 + \lambda_j * Race/Ethnic/Gender Indicators  + \beta_j * \chi_j + \mu $

In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

# np.set_printoptions(precision=3, suppress=True)

#This will allow all columns to be displayed when reviewing the data.
pd.options.display.max_columns = None

tensorflow below

In [2]:
import tensorflow as tf

from tensorflow import keras
from tensorflow.keras import layers
from tensorflow.keras.layers.experimental import preprocessing

print("Num GPUs Available: ", len(tf.config.experimental.list_physical_devices('GPU')))
tf.test.is_built_with_cuda()
print(tf.version.VERSION)
import sys
print(sys.version)
gpu = len(tf.config.list_physical_devices('GPU'))>0
print("GPU is", "available" if gpu else "NOT AVAILABLE")

ModuleNotFoundError: No module named 'tensorflow'

Below is for manipulating the dataset before running it through the funciton.

In [3]:
# Load in HMDA Data
HMDA_raw_csv_file_location = r'2019_HMDA_raw.csv'

#Do not change this code! 
HMDA_raw_CSV = pd.read_csv(HMDA_raw_csv_file_location)
HMDA_raw_CSV

C:\Users\raywz\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (5,22,23,24,26,27,28,29,30,31,32,33,38,43,44,46,78,80) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,activity_year,lei,derived_msa-md,state_code,county_code,census_tract,conforming_loan_limit,derived_loan_product_type,derived_dwelling_category,derived_ethnicity,derived_race,derived_sex,action_taken,purchaser_type,preapproval,loan_type,loan_purpose,lien_status,reverse_mortgage,open-end_line_of_credit,business_or_commercial_purpose,loan_amount,loan_to_value_ratio,interest_rate,rate_spread,hoepa_status,total_loan_costs,total_points_and_fees,origination_charges,discount_points,lender_credits,loan_term,prepayment_penalty_term,intro_rate_period,negative_amortization,interest_only_payment,balloon_payment,other_nonamortizing_features,property_value,construction_method,occupancy_type,manufactured_home_secured_property_type,manufactured_home_land_property_interest,total_units,multifamily_affordable_units,income,debt_to_income_ratio,applicant_credit_score_type,co-applicant_credit_score_type,applicant_ethnicity-1,applicant_ethnicity-2,applicant_ethnicity-3,applicant_ethnicity-4,applicant_ethnicity-5,co-applicant_ethnicity-1,co-applicant_ethnicity-2,co-applicant_ethnicity-3,co-applicant_ethnicity-4,co-applicant_ethnicity-5,applicant_ethnicity_observed,co-applicant_ethnicity_observed,applicant_race-1,applicant_race-2,applicant_race-3,applicant_race-4,applicant_race-5,co-applicant_race-1,co-applicant_race-2,co-applicant_race-3,co-applicant_race-4,co-applicant_race-5,applicant_race_observed,co-applicant_race_observed,applicant_sex,co-applicant_sex,applicant_sex_observed,co-applicant_sex_observed,applicant_age,co-applicant_age,applicant_age_above_62,co-applicant_age_above_62,submission_of_application,initially_payable_to_institution,aus-1,aus-2,aus-3,aus-4,aus-5,denial_reason-1,denial_reason-2,denial_reason-3,denial_reason-4,tract_population,tract_minority_population_percent,ffiec_msa_md_median_family_income,tract_to_msa_income_percentage,tract_owner_occupied_units,tract_one_to_four_family_homes,tract_median_age_of_housing_units
0,2019,KB1H1DSPRFMYMCUFXT09,26420,TX,48167.0,48167722001,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Hispanic or Latino,White,Male,6,1,2,1,1,1,2,2,2,215000.0,NaN,4.25,NaN,2,5374.98,NaN,2557.55,NaN,NaN,360,NaN,NaN,2,2,2,2,225000.0,1,1,3,5,1,NaN,113.0,NaN,9,9,1.0,11.0,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,2,4,5.0,NaN,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,2,4,1,5,2,4,35-44,9999,No,NaN,3,3,6,NaN,NaN,NaN,NaN,10,NaN,NaN,NaN,5457,41.73,77100,104,1682,1895,23
1,2019,KB1H1DSPRFMYMCUFXT09,26420,TX,48071.0,48071710100,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,White,Male,6,1,2,1,1,1,2,2,2,255000.0,NaN,4.25,NaN,2,9823.34,NaN,2682.5,NaN,NaN,360,NaN,NaN,2,2,2,2,275000.0,1,1,3,5,1,NaN,62.0,NaN,9,9,2.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,2,4,5.0,NaN,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,2,4,1,5,2,4,25-34,9999,No,NaN,3,3,6,NaN,NaN,NaN,NaN,10,NaN,NaN,NaN,8119,19.53,77100,130,1961,2443,18
2,2019,KB1H1DSPRFMYMCUFXT09,47894,VA,51177.0,51177020305,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,White,Joint,6,1,2,1,1,1,2,2,2,195000.0,NaN,3.75,NaN,2,3410.68,NaN,1434.88,239.88,NaN,360,NaN,NaN,2,2,2,2,205000.0,1,1,3,5,1,NaN,43.0,NaN,9,9,2.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,2,2,5.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,2,2,1,2,2,2,45-54,35-44,No,No,3,3,6,NaN,NaN,NaN,NaN,10,NaN,NaN,NaN,3533,34.59,114700,61,659,1098,30
3,2019,KB1H1DSPRFMYMCUFXT09,31180,TX,48303.0,48303010302,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,White,Joint,6,1,2,1,1,1,2,2,2,385000.0,NaN,4.375,NaN,2,4155.35,NaN,285.0,NaN,1148.74,360,NaN,NaN,2,2,2,2,415000.0,1,1,3,5,1,NaN,140.0,NaN,9,9,2.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,2,2,5.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,2,2,1,2,2,2,25-34,25-34,No,No,3,3,6,NaN,NaN,NaN,NaN,10,NaN,NaN,NaN,2693,29.37,61900,123,674,1009,35
4,2019,KB1H1DSPRFMYMCUFXT09,41700,TX,48325.0,48325000102,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Hispanic or Latino,White,Male,6,3,2,1,1,1,2,2,2,245000.0,NaN,4.25,NaN,2,4568.38,NaN,1535.0,NaN,NaN,360,NaN,NaN,2,2,2,2,265000.0,1,1,3,5,1,NaN,62.0,NaN,9,9,1.0,11.0,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,2,4,5.0,NaN,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,2,4,1,5,2,4,55-64,9999,No,NaN,3,3,6,NaN,NaN,NaN,NaN,10,NaN,NaN,NaN,8455,39.34,71000,133,2453,3293,21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17545452,2019,KB1H1DSPRFMYMCUFXT09,41700,TX,48029.0,48029140200,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Hispanic or Latino,White,Female,6,1,2,1,1,1,2,2,2,355000.0,NaN,4.375,NaN,2,5537.24,NaN,1535.0,NaN,NaN,360,NaN,NaN,2,2,2,2,395000.0,1,1,3,5,1,NaN,200.0,NaN,9,9,1.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,2,4,5.0,NaN,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,2,4,2,5,2,4,35-44,9999,No,NaN,3,3,6,NaN,NaN,NaN,NaN,10,NaN,NaN,NaN,2767,82.29,71000,64,576,1029,73
17545453,2019,KB1H1DSPRFMYMCUFXT09,41700,TX,48029.0,48029121906,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,White,Male,6,1,2,1,1,1,2,2,2,255000.0,NaN,4.375,NaN,2,7348.98,NaN,4100.0,NaN,1500.0,360,NaN,NaN,2,2,2,2,285000.0,1,1,3,5,1,NaN,92.0,NaN,9,9,2.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,2,4,5.0,NaN,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,2,4,1,5,2,4,35-44,9999,No,NaN,3,3,6,NaN,NaN,NaN,NaN,10,NaN,NaN,NaN,5661,42.41,71000,158,1401,1635,18
17545454,2019,KB1H1DSPRFMYMCUFXT09,23104,TX,48439.0,48439113813,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,White,Joint,6,1,2,1,1,1,2,2,2,305000.0,NaN,4.375,NaN,2,4752.42,NaN,1250.0,NaN,NaN,360,NaN,NaN,2,2,2,2,345000.0,1,1,3,5,1,NaN,90.0,NaN,9,9,2.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,2,2,5.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,2,2,1,2,2,2,35-44,35-44,No,No,3,3,6,NaN,NaN,NaN,NaN,10,NaN,NaN,NaN,4940,20.04,75300,176,1647,1689,21
17545455,2019,KB1H1DSPRFMYMCUFXT09,39580,NC,37183.0,37183053725,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,White,Joint,6,1,2,1,1,1,2,2,2,185000.0,NaN,3.875,NaN,2,2797.0,NaN,899.0,NaN,NaN,360,NaN,NaN,2,2,2,2,205000.0,1,1,3,5,1,NaN,73.0,NaN,9,9,2.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,1,1,5.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,1,1,1,2,1,1,<25,<25,No,No,3,3,6,NaN,NaN,NaN,NaN,10,NaN,NaN,NaN,5147,25.65,93100,148,1232,1348,16
17545456,2019,KB1H1DSPRFMYMCUFXT09,33260,TX,48329.0,48329010107,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,White,Female,6,1,2,1,1,1,2,2,2,335000.0,NaN,4.875,NaN,2,4845.89,NaN,1135.0,NaN,NaN,360,NaN,NaN,2,2,2,2,375000.0,1,1,3,5,1,NaN,126.0,NaN,9,9,2.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,2,4,5.0,NaN,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,2,4,2,5,2,4,35-44,9999,No,NaN,3,3,6,NaN,NaN,NaN,NaN,10,NaN,NaN,NaN,5108,35.77,79100,109,774,1124,25

In [6]:
#Smaller Sample for testing code.
HMDA_sample = HMDA_raw_CSV.sample(100)
HMDA_sample.to_csv('2019_HMDA_sample.csv',index = False)

In [8]:
#Load in Smaller Sample
HMDA_sample_file_location = r'2019_HMDA_sample.csv'

#Do not change this code! 
HMDA_sample = pd.read_csv(HMDA_sample_file_location)
HMDA_sample

,activity_year,lei,derived_msa-md,state_code,county_code,census_tract,conforming_loan_limit,derived_loan_product_type,derived_dwelling_category,derived_ethnicity,derived_race,derived_sex,action_taken,purchaser_type,preapproval,loan_type,loan_purpose,lien_status,reverse_mortgage,open-end_line_of_credit,business_or_commercial_purpose,loan_amount,loan_to_value_ratio,interest_rate,rate_spread,hoepa_status,total_loan_costs,total_points_and_fees,origination_charges,discount_points,lender_credits,loan_term,prepayment_penalty_term,intro_rate_period,negative_amortization,interest_only_payment,balloon_payment,other_nonamortizing_features,property_value,construction_method,occupancy_type,manufactured_home_secured_property_type,manufactured_home_land_property_interest,total_units,multifamily_affordable_units,income,debt_to_income_ratio,applicant_credit_score_type,co-applicant_credit_score_type,applicant_ethnicity-1,applicant_ethnicity-2,applicant_ethnicity-3,applicant_ethnicity-4,applicant_ethnicity-5,co-applicant_ethnicity-1,co-applicant_ethnicity-2,co-applicant_ethnicity-3,co-applicant_ethnicity-4,co-applicant_ethnicity-5,applicant_ethnicity_observed,co-applicant_ethnicity_observed,applicant_race-1,applicant_race-2,applicant_race-3,applicant_race-4,applicant_race-5,co-applicant_race-1,co-applicant_race-2,co-applicant_race-3,co-applicant_race-4,co-applicant_race-5,applicant_race_observed,co-applicant_race_observed,applicant_sex,co-applicant_sex,applicant_sex_observed,co-applicant_sex_observed,applicant_age,co-applicant_age,applicant_age_above_62,co-applicant_age_above_62,submission_of_application,initially_payable_to_institution,aus-1,aus-2,aus-3,aus-4,aus-5,denial_reason-1,denial_reason-2,denial_reason-3,denial_reason-4,tract_population,tract_minority_population_percent,ffiec_msa_md_median_family_income,tract_to_msa_income_percentage,tract_owner_occupied_units,tract_one_to_four_family_homes,tract_median_age_of_housing_units
0,2019,5493000YNV8IX4VD3X12,99999,KY,21187.0,2.118797e+10,C,Conventional:First Lien,Single Family (1-4 Units):Manufactured,Not Hispanic or Latino,White,Female,5,0,2,1,1,1,2,2,2,95000.0,NaN,NaN,NaN,3,NaN,NaN,NaN,NaN,NaN,276,NaN,NaN,2,2,2,2,NaN,2,1,1,1,1,NaN,32.0,NaN,9,9,2.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,2,2,5.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,2,2,2,2,2,2,25-34,45-54,No,No,1,1,6,NaN,NaN,NaN,NaN,10,NaN,NaN,NaN,3297,5.58,49800,135,1007,1471,31
1,2019,549300O6Z0I6KYMESL47,16984,IL,17031.0,1.703181e+10,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Hispanic or Latino,White,Joint,4,0,2,1,1,1,2,2,1,215000.0,NaN,NaN,NaN,3,NaN,NaN,NaN,NaN,NaN,360.0,NaN,NaN,2,1,2,2,NaN,1,3,3,5,1,NaN,0.0,NaN,9,9,1.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,2,2,5.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,2,2,1,2,2,2,55-64,>74,No,Yes,2,1,6,NaN,NaN,NaN,NaN,10,NaN,NaN,NaN,4279,39.10,82000,112,1331,1484,57
2,2019,549300XRXBA38J60S618,99999,ID,16039.0,1.603996e+10,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,White,Male,1,0,2,1,1,1,2,2,2,345000.0,90.0,4.375,0.462,2,4633.0,NaN,1595.0,NaN,NaN,360,NaN,NaN,2,2,2,2,385000,1,1,3,5,1,NaN,0.0,44,3,10,2.0,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,2,2,5.0,NaN,NaN,NaN,NaN,6.0,NaN,NaN,NaN,NaN,2,2,1,1,2,2,55-64,65-74,Yes,Yes,1,1,1,NaN,NaN,NaN,NaN,10,NaN,NaN,NaN,2570,22.49,57100,89,854,1916,39
3,2019,549300NBFJM2PBH24L77,48620,KS,20173.0,2.017301e+10,C,Conventional:First Lien,Single Family (1-4 Units):Manufactured,Not Hispanic or Latino,White,Male,1,0,2,1,31,1,1111,1111,1111,15000.0,Exempt,Exempt,Exempt,3,Exempt,Exempt,Exempt,Exempt,Exempt,Exempt,Exempt,Exempt,1111,1111,1111,1111,Exempt,2,3,1111,1111,1,Exempt,85.0,Exempt,1111,1111,2.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,1,4,5.0,NaN,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,1,4,1,5,1,4,25-34,9999,No,NaN,1111,1111,1111,NaN,NaN,NaN,NaN,1111,NaN,NaN,NaN,5346,20.50,69500,126,1667,1904,24
4,2019,C5654JQHZUHN0772B561,47894,VA,51683.0,5.168391e+10,C,VA:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,White,Male,1,2,2,3,1,1,2,2,2,395000.0,100.0,3.5,-0.1828,2,11566.57,NaN,497.98,497.98,NaN,360,NaN,NaN,2,2,2,2,395000.0,1,1,3,5,1,NaN,115.0,30%-<36%,1,10,2.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,2,4,5.0,NaN,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,2,4,1,5,2,4,25-34,9999,No,NaN,1,1,1,NaN,NaN,NaN,NaN,10,NaN,NaN,NaN,5854,51.81,114700,76,1025,1355,29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2019,254900FL0I8OUMMBOZ11,38060,AZ,4013.0,4.013072e+09,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Ethnicity Not Available,Native Hawaiian or Other Pacific Islander,Male,1,0,2,1,31,1,2,2,1,125000.0,85.0,11.0,NaN,3,NaN,NaN,NaN,NaN,NaN,11.0,NaN,NaN,2,1,1,2,145000.0,1,3,3,5,1,NaN,NaN,NaN,9,10,3.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,2,4,5.0,44.0,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,2,4,1,5,2,4,8888,9999,NaN,NaN,1,1,6,NaN,NaN,NaN,NaN,10,NaN,NaN,NaN,3031,8.02,72900,65,1701,2620,49
96,2019,549300NOCASXPA34X033,15180,TX,48061.0,4.806101e+10,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Ethnicity Not Available,White,Male,3,0,2,1,32,1,2,2,2,115000.0,80.0,NaN,NaN,3,NaN,NaN,NaN,NaN,NaN,360.0,NaN,NaN,2,2,2,2,145000.0,1,1,3,5,1,NaN,NaN,NaN,9,10,3.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,2,4,5.0,NaN,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,2,4,1,5,2,4,55-64,9999,Yes,NaN,1,2,6,NaN,NaN,NaN,NaN,7,NaN,NaN,NaN,7046,90.41,44000,123,1686,2246,32
97,2019,B4TYDEB6GKMZO031MB27,22744,FL,12011.0,1.201104e+10,C,Conventional:Subordinate Lien,Single Family (1-4 Units):Site-Built,Ethnicity Not Available,Race Not Available,Male,4,0,2,1,2,2,2,1,2,105000.0,NaN,NaN,NaN,3,NaN,NaN,NaN,NaN,NaN,360,36,1,2,2,2,2,NaN,1,1,3,5,1,NaN,160.0,NaN,9,9,3.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,2,4,6.0,NaN,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,2,4,1,5,2,4,35-44,9999,No,NaN,1,1,6,NaN,NaN,NaN,NaN,10,NaN,NaN,NaN,4961,25.06,68600,173,1389,1705,49
98,2019,549300CY7WNAHKHYSJ73,99999,WA,53037.0,5.303798e+10,NC,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,White,Joint,1,0,2,1,1,1,2,2,2,615000.0,77.22,3.875,0.437,2,25867.65,NaN,21239.25,13126.89,NaN,369,NaN,NaN,2,1,2,2,805000.0,1,1,3,5,1,NaN,151.0,20%-<30%,2,9,2.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,2,2,5.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,2,2,2,1,2,2,25-34,25-34,No,No,1,1,1,NaN,NaN,NaN,NaN,10,NaN,NaN,NaN,4562,5.09,63500,110,1412,2038,20
99,2019,549300YOESI1GLKRL151,16740,SC,45091.0,4.509106e+10,C,FHA:First Lien,Single Family (1-4 Units):Site-Built,Ethnicity Not Available,Race Not Available,Sex Not Available,6,9,2,2,1,1,2,2,2,145000.0,NaN,5.125,NaN,2,6523.85,NaN,2050.0,1115.0,21.6,360,NaN,NaN,2,2,2,2,205000.0,1,1,3,5,1,NaN,NaN,NaN,9,9,4.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,3,4,7.0,NaN,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,3,4,4,5,3,4,8888,9999,NaN,NaN,3,3,6,NaN,NaN,NaN,NaN,10,NaN,NaN,NaN,5616,42.50,70700,76,1082,1860,39

In [ ]:
CommunityArea_and_topholder_file = r'CommunityARea and Topholder.xlsx'
Community_Area_List = pd.read_excel(CommunityArea_and_topholder_file)
# Community_Area_List[:5]

In [ ]:
#Quick merge 
table_1 = HMDA_raw_CSV
table_2 = Community_Area_List
table_1_column = 'census_tract'
table_2_column = 'FIPS'

#Do not change this code!
merged_data = pd.merge(table_1, table_2, left_on = table_1_column, right_on = table_2_column)
merged_data

print('Merge complete')
# merged_data[:5]

In [ ]:
regulators_and_supervisors_file_location = r'2020 Regulator and Supervisor Mod1.xlsx'
regulators_and_supervisors = pd.read_excel(regulators_and_supervisors_file_location)

table_3 = merged_data
table_4 = regulators_and_supervisors
table_3_column = 'lei'
table_4_column = 'lei'

#Do not change this code!
merged_data_full = pd.merge(table_3, table_4, left_on = table_3_column, right_on = table_4_column)
merged_data_full

print('Merge complete')

In [ ]:
merged_data_full.head()

### This Program Cleans the HMDA data

Input is the file location of a raw HMDA file.
Output is a Pandas Dataframe.

In [10]:
pd.unique(HMDA_sample.columns.values)

array(['activity_year', 'lei', 'derived_msa-md', 'state_code',
       'county_code', 'census_tract', 'conforming_loan_limit',
       'derived_loan_product_type', 'derived_dwelling_category',
       'derived_ethnicity', 'derived_race', 'derived_sex', 'action_taken',
       'purchaser_type', 'preapproval', 'loan_type', 'loan_purpose',
       'lien_status', 'reverse_mortgage', 'open-end_line_of_credit',
       'business_or_commercial_purpose', 'loan_amount',
       'loan_to_value_ratio', 'interest_rate', 'rate_spread',
       'hoepa_status', 'total_loan_costs', 'total_points_and_fees',
       'origination_charges', 'discount_points', 'lender_credits',
       'loan_term', 'prepayment_penalty_term', 'intro_rate_period',
       'negative_amortization', 'interest_only_payment',
       'balloon_payment', 'other_nonamortizing_features',
       'property_value', 'construction_method', 'occupancy_type',
       'manufactured_home_secured_property_type',
       'manufactured_home_land_property_interest', 'total_units',
       'multifamily_affordable_units', 'income', 'debt_to_income_ratio',
       'applicant_credit_score_type', 'co-applicant_credit_score_type',
       'applicant_ethnicity-1', 'applicant_ethnicity-2',
       'applicant_ethnicity-3', 'applicant_ethnicity-4',
       'applicant_ethnicity-5', 'co-applicant_ethnicity-1',
       'co-applicant_ethnicity-2', 'co-applicant_ethnicity-3',
       'co-applicant_ethnicity-4', 'co-applicant_ethnicity-5',
       'applicant_ethnicity_observed', 'co-applicant_ethnicity_observed',
       'applicant_race-1', 'applicant_race-2', 'applicant_race-3',
       'applicant_race-4', 'applicant_race-5', 'co-applicant_race-1',
       'co-applicant_race-2', 'co-applicant_race-3',
       'co-applicant_race-4', 'co-applicant_race-5',
       'applicant_race_observed', 'co-applicant_race_observed',
       'applicant_sex', 'co-applicant_sex', 'applicant_sex_observed',
       'co-applicant_sex_observed', 'applicant_age', 'co-applicant_age',
       'applicant_age_above_62', 'co-applicant_age_above_62',
       'submission_of_application', 'initially_payable_to_institution',
       'aus-1', 'aus-2', 'aus-3', 'aus-4', 'aus-5', 'denial_reason-1',
       'denial_reason-2', 'denial_reason-3', 'denial_reason-4',
       'tract_population', 'tract_minority_population_percent',
       'ffiec_msa_md_median_family_income',
       'tract_to_msa_income_percentage', 'tract_owner_occupied_units',
       'tract_one_to_four_family_homes',
       'tract_median_age_of_housing_units'], dtype=object)

In [28]:
#A function that cleans HMDA data for further analysis.
def clean_HMDA(HMDA_file_location):
    #load file in as a pandas dataframe.
    #HMDA_df = pd.read_csv(HMDA_file_location)
    
    
    #Pick Columns to use for the Linear Probability Model
    df1 = HMDA_file_location[['lei', 'state_code','applicant_race-1',
                              'applicant_ethnicity-1', 'applicant_sex','income',
                              'action_taken', 'loan_type', 'loan_purpose','lien_status',
                              'occupancy_type', 'total_units', 'loan_amount',
                             'property_value', 'debt_to_income_ratio', 'loan_to_value_ratio',
                             'rate_spread', 'total_loan_costs', 'denial_reason-1', 
                              'ffiec_msa_md_median_family_income', 'tract_to_msa_income_percentage',
                             'tract_minority_population_percent',
                                'interest_rate', 'loan_term' ]]

    #Group and rename race variables.
    #applicant_race-1 is used in this instance. 
    #applicant_race_observed and derived_race can also be used.
    df2 = df1.replace(to_replace = {'applicant_race-1' : {
                                (2,21,22,23,24,25,26,27):'Asian',
                                  (3):'Black',
                                 (5):'White',
                                 (1, 4,41,42,43,44):'Other Race',
                                 (6,7, np.nan):'Not Reported'}})
    #Group and rename ethnicity variables.
    df3 = df2.replace(to_replace = {
            'applicant_ethnicity-1' : {(1,11,14,12,13):'Hispanic or Latino',
                                  (2):'Not Hispanic or Latino',
                                 (3,4,np.nan):'Not Reported',}})
    
    #Get dummy variables for applicant race and ethnicity.
    df4 = pd.get_dummies(df3, columns = ['applicant_race-1', 'applicant_ethnicity-1']).copy()
    
   
    #Remove rows that had no income reported or an income less than 0.
    def income_reported_to_categorical(table, column):
        values = table[column].values
        ir_array =  []
        for i in values:
            if i == np.nan:
                ir_array.append('No Report')
            elif i < 0:
                ir_array.append('Zero or Negative')
            elif i >= 0:
                ir_array.append('Reported')
            else:
                ir_array.append('No Report')
            
        table['Income Reported'] = ir_array     
        return table
    
    df5 = income_reported_to_categorical(df4,'income')
    df6 = df5[df5["Income Reported"].str.contains("Reported") == True]
    
    #Create approval indicator column.
    #Preapproval request denied could also be used as an indicator variable if need be.
    def action_taken_to_approval_indicator(table, column):
        values = table[column].values
        ir_array =  []
        for i in values:
            if i == 1:
                ir_array.append('Approved')
            elif i == 2:
                ir_array.append('Approved')
            elif i == 3:
                ir_array.append('Denied')
            else:
                ir_array.append('other')
            
        table2 = table.copy()
        table2['Approval Indicator'] = ir_array
        
        table3 = table2[table2["Approval Indicator"].str.contains("other") == False]
        
        table4 = pd.get_dummies(table3, columns = ['Approval Indicator']).copy()
        
        return table4
    df7 = action_taken_to_approval_indicator(df6, 'action_taken')
    
    #Remove rows where ethnicity and race were not reported.
    df8 = df7.loc[df7['applicant_ethnicity-1_Not Reported'] != 1]
    df9 = df8.loc[df8['applicant_race-1_Not Reported'] != 1]
    
    #Rename columns
    df10 = df9.rename(columns = {'Approval Indicator_Approved' : 'Approval Indicator',
                                   'income': 'Income in Thousands',
                                   'applicant_race-1_Asian': 'Asian',
                                    'applicant_race-1_Black': 'Black'})
    
    df10[['Approval Indicator', 'Income in Thousands', 'Asian','Black']][:5]
    
    #columns = ['Approval Indicator_Approved']
    #df8 = pd.DataFrame(df7[columns].copy())
   # '''
    
    return  df10

clean_HMDA(HMDA_sample)

,lei,state_code,applicant_sex,Income in Thousands,action_taken,loan_type,loan_purpose,lien_status,occupancy_type,total_units,loan_amount,property_value,debt_to_income_ratio,loan_to_value_ratio,rate_spread,total_loan_costs,denial_reason-1,ffiec_msa_md_median_family_income,tract_to_msa_income_percentage,tract_minority_population_percent,interest_rate,loan_term,Asian,Black,applicant_race-1_Not Reported,applicant_race-1_Other Race,applicant_race-1_White,applicant_ethnicity-1_Hispanic or Latino,applicant_ethnicity-1_Not Hispanic or Latino,applicant_ethnicity-1_Not Reported,Income Reported,Approval Indicator,Approval Indicator_Denied
2,549300XRXBA38J60S618,ID,1,0.0,1,1,1,1,1,1,345000.0,385000,44,90.0,0.462,4633.0,10,57100,89,22.49,4.375,360,0,0,0,0,1,0,1,0,Reported,1,0
3,549300NBFJM2PBH24L77,KS,1,85.0,1,1,31,1,3,1,15000.0,Exempt,Exempt,Exempt,Exempt,Exempt,1111,69500,126,20.50,Exempt,Exempt,0,0,0,0,1,0,1,0,Reported,1,0
4,C5654JQHZUHN0772B561,VA,1,115.0,1,3,1,1,1,1,395000.0,395000.0,30%-<36%,100.0,-0.1828,11566.57,10,114700,76,51.81,3.5,360,0,0,0,0,1,0,1,0,Reported,1,0
7,KB1H1DSPRFMYMCUFXT09,NM,1,82.0,1,1,32,1,1,1,175000.0,275000.0,20%-<30%,63.603,0.455,4017.93,10,53100,84,38.03,3.625,180,0,0,0,0,1,0,1,0,Reported,1,0
8,549300KY533JFETOYG46,WI,2,71.0,1,1,1,1,1,1,225000.0,235000,20%-<30%,95.79,0.336,1404.8,10,82300,97,10.44,3.938,360,0,0,0,0,1,0,1,0,Reported,1,0
9,549300H3IZO24NSOO931,FL,2,42.0,3,1,1,1,1,1,185000.0,285000.0,50%-60%,80.0,NaN,NaN,1,66900,141,39.17,NaN,360.0,0,1,0,0,0,0,1,0,Reported,0,1
10,549300TN9GZ5XRCOXX47,TX,2,203.0,3,1,1,2,1,1,85000.0,585000,42,90.0,NaN,NaN,9,77100,209,46.07,NaN,240,0,1,0,0,0,0,1,0,Reported,0,1
12,549300OPCWU6E72WUT29,TX,1,75.0,1,3,1,1,1,1,295000.0,295000,40,100.0,-0.029,4874.84,10,83100,118,33.80,4.5,360,0,0,0,0,1,0,1,0,Reported,1,0
13,5493004WMLN60ZJ2ON46,FL,1,85.0,1,3,1,1,1,1,245000.0,235000,39,103.29,0.208,7752.03,10,65100,112,51.99,4.125,360,0,1,0,0,0,0,1,0,Reported,1,0
14,549300GS6ONO04ORI292,OR,1,199.0,1,1,2,1,1,1,485000.0,705000,20%-<30%,69.193,0.491,5952.75,10,48800,93,13.93,4.5,360,0,0,0,0,1,0,1,0,Reported,1,0
16,5493001NJEVHTZW7FG34,CA,2,55.0,3,1,31,1,1,1,545000.0,755000,>60%,72.267,NaN,NaN,1,97900,94,80.68,NaN,360,1,0,0,0,0,0,1,0,Reported,0,1
18,54930052M48FOD3CWA54,TX,1,73.0,1,2,1,1,1,1,135000.0,145000,20%-<30%,94.286,2.139,7987.99,10,57200,91,23.69,4.75,360,0,0,0,0,1,0,1,0,Reported,1,0
20,549300GHAXBE9Q7W9273,MN,2,155.0,1,1,1,1,1,1,275000.0,335000,20%-<30%,82.388,-0.129,5211.04,10,90500,122,5.39,3.5,360,0,0,0,0,1,0,1,0,Reported,1,0
26,5493008N1D96CHCTQC27,TX,1,57.0,1,1,32,1,3,1,65000.0,85000,44,80.0,NaN,1849.97,10,71000,66,98.03,4.875,180,0,0,0,0,1,1,0,0,Reported,1,0
27,5493002LPXKMOZNXUY90,ND,2,63.0,1,2,31,1,1,1,295000.0,335000,40,88.712,0.437,6994.75,10,80200,92,9.37,3.375,360,0,0,0,0,1,0,1,0,Reported,1,0
31,KB1H1DSPRFMYMCUFXT09,MD,1,79.0,3,1,32,1,1,1,265000.0,335000.0,47,80.0,NaN,NaN,9,114700,58,89.81,NaN,360.0,1,0,0,0,0,0,1,0,Reported,0,1
33,549300HW662MN1WU8550,WI,2,106.0,1,1,1,1,1,1,275000.0,335000.0,30%-<36%,80.0,0.159,700.0,10,65900,97,15.90,4.25,360,0,0,0,0,1,0,1,0,Reported,1,0
34,549300Y4BSP3BSFW7J29,GA,1,68.0,3,1,32,2,1,1,45000.0,205000.0,>60%,89.713,NaN,NaN,1,79200,90,96.79,NaN,180.0,0,1,0,0,0,0,1,0,Reported,0,1
36,DRMSV1Q0EKMEXLAU1P80,NY,1,64.0,1,1,2,1,1,2,85000.0,115000.0,44,71.0,3.01,NaN,10,76900,65,5.57,7.99,300,0,0,0,0,1,0,1,0,Reported,1,0
37,254900CNZPI5WN45KW48,AR,2,55.0,1,1,31,1,1,1,95000.0,115000,<20%,80.0,0.576,2668.65,10,53100,110,20.40,4.25,360,0,0,0,0,1,0,1,0,Reported,1,0
38,549300XWUSRVVOHPRY47,TX,2,131.0,1,1,1,1,1,1,375000.0,425000.0,45,90.0,0.287,3707.63,10,77100,136,31.91,3.875,360.0,0,0,0,0,1,0,1,0,Reported,1,0
39,5493008SP1FN4D81IS17,IL,1,117.0,1,1,32,2,1,1,25000.0,Exempt,Exempt,Exempt,Exempt,Exempt,1111,61700,126,14.05,Exempt,Exempt,0,0,0,0,1,0,1,0,Reported,1,0
40,54930021WPEXNHYZUL09,GA,1,92.0,1,3,1,1,1,1,265000.0,255000.0,41,100.0,2.728,14066.34,10,75400,129,53.24,5.875,360,0,1,0,0,0,0,1,0,Reported,1,0
41,254900VHUBSJJKOMBF27,CA,2,92.0,1,1,1,1,1,1,245000.0,435000,46,56.88,0.459,3892.9,10,57900,229,32.49,4.124,360,0,0,0,0,1,0,1,0,Reported,1,0
44,SS1TRMSN6BRNMOREEV51,CA,1,50.0,1,2,1,1,1,1,175000.0,175000.0,43,96.5,1.664,6850.8,10,64500,103,46.10,4.625,360.0,0,0,0,0,1,0,1,0,Reported,1,0
45,54930040HIIQWXRS6K39,WA,1,138.0,1,1,31,1,1,1,665000.0,985000,46,69.0,NaN,NaN,10,108600,122,16.17,4.5,360,1,0,0,0,0,0,1,0,Reported,1,0
48,549300GS6ONO04ORI292,ID,1,132.0,1,1,1,1,1,1,345000.0,435000,20%-<30%,80.0,0.487,5266.6,10,57100,82,22.54,4.125,360,0,0,0,0,1,0,1,0,Reported,1,0
49,549300TU1SISIUY3SK49,WI,1,77.0,1,1,1,1,2,2,225000.0,Exempt,Exempt,Exempt,Exempt,Exempt,1111,82300,121,12.59,Exempt,Exempt,0,0,0,0,1,0,1,0,Reported,1,0
50,549300B81YWV4GBENI49,NY,1,344.0,1,1,31,1,1,1,765000.0,1565000,20%-<30%,49.2308,0.443,5699.91,10,79300,150,45.68,4.25,240,0,0,0,0,1,0,1,0,Reported,1,0
51,5493006MCOP60BBI4G97,FL,1,89.0,1,1,1,1,1,1,195000.0,295000.0,30%-<36%,66.55,-0.173,4464.87,10,59500,96,50.09,4.5,360.0,0,0,0,0,1,0,1,0,Reported,1,0
53,KB1H1DSPRFMYMCUFXT09,HI,1,594.0,1,1,1,1,2,1,1555000.0,2075000.0,36,75.0,-0.455,3212.36,10,71300,107,54.88,2.875,360.0,0,0,0,0,1,0,1,0,Reported,1,0
54,549300MGPZBLQDIL7538,MT,1,52.0,1,2,1,1,1,1,125000.0,125000.0,50%-60%,100.802,1.162,6508.53,10,65100,97,8.92,3.75,360,0,0,0,1,0,0,1,0,Reported,1,0
55,549300FGXN1K3HLB1R50,FL,1,44.0,3,1,32,1,1,1,195000.0,265000.0,48,72.47,NaN,NaN,7,52700,118,15.56,NaN,180,0,0,0,0,1,0,1,0,Reported,0,1
56,549300KDZ1H5P9KKIW38,WA,1,50.0,3,3,31,1,1,1,195000.0,375000,39,71.621,NaN,NaN,3,108600,98,52.11,NaN,360,0,0,0,0,1,0,1,0,Reported,0,1
57,RVDPPPGHCGZ40J4VQ731,KS,2,44.0,3,1,32,1,1,1,265000.0,325000.0,>60%,80.0,NaN,NaN,1,82400,181,19.16,NaN,360,1,0,0,0,0,0,1,0,Reported,0,1
58,549300D4ZYLSQ5LMTV35,NJ,1,50.0,1,2,1,1,1,1,185000.0,195000,50%-60%,98.188,1.535,7187.91,10,97300,104,21.69,5.25,360,0,0,0,0,1,0,1,0,Reported,1,0
59,C5654JQHZUHN0772B561,MO,2,142.0,1,3,32,1,1,1,125000.0,155000.0,<20%,83.33,0.3488,1531.94,10,52400,99,7.87,4.125,180,0,0,0,0,1,0,1,0,Reported,1,0
60,6BYL5QZYBDK8S7L73M02,KY,1,29.0,1,1,1,1,1,1,65000.0,65000.0,20%-<30%,92.31,2.182,2242.2,10,49800,88,1.32,4.99,360.0,0,0,0,0,1,0,1,0,Reported,1,0
61,549300ZJIC4LOLZH0M42,CA,1,190.0,1,1,31,1,1,1,805000.0,955000,36,84.316,-0.177,3955.25,10,111700,99,58.75,3.25,360,1,0,0,0,0,0,1,0,Reported,1,0
63,VN1JLT1F3FLLVN3FZG89,PA,1,360.0,1,1,4,2,1,1,65000.0,565000.0,20%-<30%,89.892,-2.41,NaN,10,79300,148,4.48,1.99,360.0,0,0,0,0,1,0,1,0,Reported,1,0
65,8WH0EE09O9V05QJZ3V89,TX,1,140.0,1,1,31,2,1,1,75000.0,565000.0,42,73.43,-1.13,NaN,10,77100,244,68.21,3.49,360,1,0,0,0,0,0,1,0,Reported,1,0
67,549300RPOGWJRH63HS39,AZ,1,83.0,1,1,1,1,1,1,335000.0,355000.0,47,95.0,2.319,4772.95,10,72900,136,27.01,5.25,360.0,0,0,0,0,1,0,1,0,Reported,1,0
69,B4TYDEB6GKMZO031MB27,OH,1,95.0,3,1,2,2,1,1,125000.0,205000.0,38,133.35,NaN,NaN,4,62200,141,3.12,NaN,360.0,0,0,0,0,1,1,0,0,Reported,0,1
71,7H6GLXDRUGQFU57RNE97,TX,1,185.0,3,1,32,1,1,1,165000.0,205000.0,>60%,97.0,NaN,NaN,9,71000,136,69.63,NaN,240,0,1,0,0,0,1,0,0,Reported,0,1
72,549300BX448ALT10FI43,IN,1,25.0,3,2,32,1,1,1,105000.0,115000.0,NaN,94.35,NaN,NaN,4,77800,112,17.93,NaN,360,0,0,0,0,1,0,1,0,Reported,0,1
74,549300MGPZBLQDIL7538,TX,1,109.0,1,3,1,1,1,1,335000.0,335000.0,38,100.0,-0.015,6709.94,10,83100,114,27.71,3.5,360.0,0,0,0,0,1,1,0,0,Reported,1,0
75,549300E2UX99HKDBR481,CA,1,142.0,1,1,31,1,2,1,555000.0,755000.0,45,74.6,0.165,3401.45,10,73100,196,73.48,4.25,360.0,0,0,0,0,1,0,1,0,Reported,1,0
77,5493001SXWZ4OFP8Z903,FL,2,81.0,1,1,1,1,1,1,165000.0,225000.0,43,70.0,-0.064,3081.75,10,67100,71,59.06,3.5,360,0,0,0,0,1,0,1,0,Reported,1,0
78,2WHM8VNJH63UN14OL754,OH,1,116.0,1,1,2,2,1,1,75000.0,365000,50%-60%,99.63,4.08,NaN,10,66100,148,10.23,8.69,360,0,0,0,0,1,0,1,0,Reported,1,0
79,549300KM40FP4MSQU941,WA,2,49.0,1,1,31,2,1,1,85000.0,445000,50%-60%,48.914,0.9,NaN,10,80200,130,17.09,4.84,300,0,0,0,0,1,0,1,0,Reported,1,0
82,7H6GLXDRUGQFU57RNE97,CA,1,320.0,1,1,2,2,1,1,105000.0,835000.0,<20%,43.02,0.21,NaN,10,73100,156,67.20,5.38,361,0,0,0,0,1,0,1,0,Reported,1,0
84,RVDPPPGHCGZ40J4VQ731,FL,1,45.0,1,3,1,1,1,1,235000.0,235000.0,41,100.0,-0.19,10102.74,10,67100,117,19.88,3.25,360,0,0,0,0,1,0,1,0,Reported,1,0
85,AD6GFRVSDT01YPT1CS68,PA,1,496.0,1,1,32,1,1,1,705000.0,1705000.0,>60%,41.176,-0.037,7456.86,10,79300,139,5.73,3.125,180,0,0,0,0,1,0,1,0,Reported,1,0
86,549300FGXN1K3HLB1R50,FL,1,79.0,1,1,1,1,1,1,125000.0,135000.0,20%-<30%,95.0,0.6456,2407.53,10,73300,57,54.59,4.56,360,0,0,0,0,1,0,1,0,Reported,1,0
87,254900TTZ395IC926125,WV,2,49.0,1,4,1,1,1,1,175000.0,175000.0,43,100.0,0.355,5519.06,10,114700,86,26.65,3.625,360.0,0,1,0,0,0,0,1,0,Reported,1,0
89,549300HW662MN1WU8550,AL,1,33.0,1,1,1,1,1,1,135000.0,145000,40,95.0,0.46,1444.5,10,84900,105,10.77,4.375,360,0,0,0,0,1,0,1,0,Reported,1,0
90,549300HXQLIV5UBQEF05,IL,1,100.0,3,1,31,1,1,1,35000.0,Exempt,Exempt,Exempt,Exempt,Exempt,1111,64200,89,1.72,Exempt,Exempt,0,0,0,0,1,0,1,0,Reported,0,1
91,54930097J3TUZXBXXE75,WA,2,110.0,1,1,2,2,1,1,75000.0,475000,20%-<30%,77.82,1.764,779.16,10,78000,180,7.98,5.25,180,0,0,0,0,1,0,1,0,Reported,1,0
98,549300CY7WNAHKHYSJ73,WA,2,151.0,1,1,1,1,1,1,615000.0,805000.0,20%-<30%,77.22,0.437,25867.65,10,63500,110,5.09,3.875,369,0,0,0,0,1,0,1,0,Reported,1,0

In [ ]:
HMDA_sample